:root {
    --card-width: 226px;
    --card-height: 314px;
    --card-ratio: calc(var(--card-width) / var(--card-height));
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-transform: uppercase;
    text-align: center;
}

.controls {
    width: fit-content;
    margin: 3rem auto 4rem;
}

/* Button 54 from https://getcssscan.com/css-buttons-examples */
button {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

@media (min-width: 768px) {
    button {
        padding: 0.25em 0.75em;
    }
}

button:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

button:disabled {
    color: dimgray;
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
    cursor: not-allowed;
}

.tabletop {
    background-color: darkgreen;
    display: flex;
    padding: 1%;
    gap: 1%;
    max-width: fit-content;
    margin: 0 auto;
    border-radius: 0.5rem;
}

.card {
    width: var(--card-width);
    perspective: 1000px;
    aspect-ratio: var(--card-ratio);
    transition: transform 0.6s;
}

.card.popped {
    transform: translateY(-2rem);
}

.flipper {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card.flipped .flipper {
    transform: rotateY(180deg);
}

.face, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.3);
    border-radius: 5%;
}

.face {
    transform: rotateY(180deg);
}

.back {
    background-image: url("https://deckofcardsapi.com/static/img/back.png");
}

.hand-result {
    margin: 2rem auto;
    font-size: 2rem;
    width: fit-content;
}
