:root {
    --card-width: 226px;
    --card-height: 314px;
    --card-scale: 1;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-transform: uppercase;
    text-align: center;
}

.tabletop {
    background-color: darkgreen;
    display: flex;
    padding: 1rem;
    gap: 0.5rem;
    max-width: fit-content;
    margin: 0 auto;
    border-radius: 0.8rem;
}

.card {
    width: calc(var(--card-width) * var(--card-scale));
    height: calc(var(--card-height) * var(--card-scale));
    background-color: transparent;
    perspective: 1000px;
}

.flipper {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);  /* maybe don't need? */
}

.card.flipped .flipper {
    transform: rotateY(180deg);
}

.face, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.face {
    transform: rotateY(180deg);
    background-image: url("https://deckofcardsapi.com/static/img/AS.png");
}

.back {
    background-image: url("https://deckofcardsapi.com/static/img/back.png");
}

.highest-hand {
    margin: 2rem auto;
    font-size: 2rem;
    width: fit-content;
}
